 
  .logo {
    display: inline-block;
    align-items: right;
    color: #4caf50;
    font-size: large;
    font-weight: bold;
  }
  
  .username-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  .usernameButton {
    
    background-color: rgb(123, 207, 233);
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;

  }

  .logoutButton {
    background-color: rgb(5, 1, 1);
    font-size: large;
    font-weight: bold;
    color: white;
  }
  
  .username-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  .username-container:hover .username-dropdown {
    display: block;
  }
  

.header{
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, rgba(13,180,24,1) 0%, rgba(142,247,147,1) 35%, rgba(178,249,189,1) 100%);
    padding: 20px;

}
.main {

	background: radial-gradient(circle, rgba(210,242,239,1) 0%, rgba(128,247,134,1) 100%);
    width: 100%;
    height: 100%;
    margin:0 auto;
    flex-grow:1;
     
}

.card-container {
  display: flex;
/*   justify-content: space-evenly;
 */

 flex-direction: column;
 align-items: center;
 margin-top: 10px;

}


.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}


.card {
  background-color: #8cf393;
  padding: 10px;
  width: calc(33.33% - 20px);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}


.card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  object-fit: cover;

}

.card h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

.card p {
  margin-bottom: 5px;
}

.order-dropdown select {
  width: 100%;
}



.footer{
  background: linear-gradient(90deg, rgba(13,180,24,1) 0%, rgba(142,247,147,1) 35%, rgba(178,249,189,1) 100%);
  padding: 20px;
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.logoFooter {
    color:  rgb(14, 58, 71);
    text-align: right;
  
}



